*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8ea0df;
    min-height: 100vh;
}
.container{
    width:500px;
    background-color: #fffcfc;
    border-radius: 8%;
    padding: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #8280d3;
    box-shadow: 5px 10px 18px #22207e5e;
}  
.title{
    max-width: 500px;
    min-width: 400px;
    font-size: 37px;
    text-align: center;
    resize: none;
    background-color:#fffcfc;
    border: 0;
    margin-bottom: -35px;
    color: #637eb7;
    font-weight: 600;
}
.title::placeholder{
    color: #637eb7;
    opacity: 0.4;
    text-transform: lowercase;
}
.textarea{
    max-width: 500px;
    min-width: 400px;
    margin-top: 20px;
    min-height: 300px;
    max-height: 400px;
    margin-bottom: 20px;
    border-radius: 8%;
    background-color: #ebe5ffa7;
    border-color: #bc7fea85;
    padding: 30px;
    font-size: 23px;
    color: #637eb7;
    font-weight: 600;
    resize: none;
    overflow: auto;
}
.textarea::placeholder{
    color: #7e63b7;
    opacity: 0.4;
    text-transform: lowercase;
}
textarea:focus {
    border-color: #716ab6;
    outline: none;
}
.btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button{
    height: 30px;
    width: 70px;
    margin-top: 10px;
    background-color: #ebe5ffa7;
    border: 1px solid #bc7fea85;
    border-radius: 30%;
    color: #637eb7;
    font-weight: 600;
    font-size: 15px;
    text-transform: lowercase;
}
button:hover{
    background-color: #d7e0fa;
    transition: 0.5s;
    border-color: #716ab6;
    outline: none;
}